@using NebojsaVasicTeretana2022_web1.Models
@model NebojsaVasicTeretana2022_web1.Models.Korisnik
<head>
    <link rel="stylesheet" href="~/stil.css">
</head>
@{
    Korisnik k = (Korisnik)Session["kor"];
}
<p>@ViewBag.Greska</p>
<form action="~/Korisnik/Izmeni" >
    <table>
        <tr>
            <td>Ime</td>
            <td><input type="text" name="Ime" value="@k.Ime"/></td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td><input type="text" name="Prezime" value="@k.Prezime"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" value="@k.Email"/></td>
        </tr>
        <tr>
            <td>Pol</td>
            <td>
                <input class="datalist" list="list" name="polKorisnika" />
                <datalist id="list">
                    <option value="zensko"></option>
                    <option value="musko"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Izmeni" />
            </td>
        </tr>
    </table>
</form>


